<% 
// 首页图片 13 
var topPics = temp.rollPicture(1); 
// 公告 
var noticeList = temp.notice(1);
var taglist = temp.tagsPageByFolder(1, 5, 2).list;
%>
<style>
/*导航*/
.topnav{background:#333333; height:36px; overflow:hidden;}
.topnav dl{width:1200px; height:36px; margin:0 auto;}
.topnav dl dt{float:left;font-weight: 400;}
.topnav dl dt a{margin-left:40px; float:left; line-height:36px; display:block; color:#ffffff; font-size:12px;}
.topnav dl dd{float:right; width:150px;text-align: right;}
.topnav dl dd a{margin-left:10px; float:left; line-height:36px; display:block; color:#ffffff; font-size:12px;}
.topnav dl dd em{float:left; margin-left:10px; line-height:36px; font-family:"SimSun"; color:#ffffff;}
.topnav dl a:hover{color:#168201;font-size:12px;}

.header{
	background: #128a28;
}
.header .nav{
	margin: 0 auto;
	position: relative;
	z-index: 111;
}
.header .nav li{
	float: left;
	width: 14.28%;
	line-height: 50px;
	text-align: center;
}
.header .nav li a{
	color: #fff;
}
.header .nav li .second-nav{
	width: 150px;
	display: none;
	position: relative;
}
.header .nav li .second-nav li{
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #128A28;
	border-top: 1px solid #097d1f;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: #75c205;
}
</style>

<div class="topnav">
    <dl>
    	<% for(item in friendlylinkList){ %>
        <dt>
            <a href="${item.url}" target="_blank">
				<% if (strutil.length(item.name) > 18) { %>
					${strutil.subStringTo(item.name, 0, 18)}...
				<% 	} else { %>
					${item.name}
				<%  } %>
			</a>
        </dt>
        <% } %>
        <% if(isEmpty(session.session_user)){ %>
			<dt style="margin-left: 200px;"><a href="${BASE_PATH }front/login.html">登录</a></dt>
			<dt class="${'regist'==folders_selected!''?'active':''}"><a href="${BASE_PATH }front/regist.html" >注册</a></dt>
		<% } else { %>
			<dt style="margin-left: 200px;" class="${'personhome'==folders_selected!''?'active':''}"><a href="${BASE_PATH }front/person.html" id="myhome" >我的空间</a></dt>
			<dt class="${'message'==folders_selected!''?'active':''}"><a href="${BASE_PATH }front/message.html" id="mymessage" >我的消息</a></dt>
			<dt class="${'person'==folders_selected!''?'active':''}"><a href="${BASE_PATH }front/person/profile.html" id="personsetup" >个人设置</a></dt>
			<dt class="${'logout'==folders_selected!''?'active':''}""><a href="${BASE_PATH }front/logout" id="logout" >退出</a></dt>
		<% } %>
        <dd>
            <a onclick="SetHome(window.location)" href="javascript:void(0)">设为首页</a>
            <em>|</em>
            <a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)">收藏此页</a>
        </dd>
      	
    </dl>
</div>
<!-- 图片 -->
<div class="banner">
	<div id="carousel-example-generic" class="carousel slide"
		data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<% for(item in topPics){ %>
			<li data-target="#carousel-example-generic"
				data-slide-to="${itemLP.index-1}" ${itemLP.index==1? "class=\"active\"":""}></li>
			<%}%>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<% for(item in topPics){ %>
			<div style="max-height: 450px;"
				class="item ${itemLP.index==1?'active':''}">
				<% if(strutil.isNotEmpty(item.url)) { %> <a style="color:#fff" href="${item.url}"
					target="_blank"> <% } %> <img src="${BASE_PATH }${flyfox.getImage(item)}"
					alt="${item.title}"> <% if(strutil.isNotEmpty(item.url)) { %>
				</a> <% } %>
				<div class="carousel-caption">
					<h4></h4>
					<p>${item.title}</p>
				</div>
			</div>
			<% } %>
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic"
			role="button" data-slide="prev"> <span
			class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
			class="sr-only">上一页</span>
		</a> <a class="right carousel-control" href="#carousel-example-generic"
			role="button" data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">下一页</span>
		</a>
	</div>

</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				<iframe style="margin-top: 50px;" src="http://www.thinkpage.cn/weather/weather.aspx?uid=U97C833469&cid=CHGZ000000&l=zh-CHS&p=SMART&a=0&u=C&s=3&m=2&x=1&d=1&fc=&bgc=&bc=&ti=0&in=0&li=" frameborder="0" scrolling="no" width="200" height="100" allowTransparency="true"></iframe>
			</div>
			<div class="col-md-4">
				<form style="margin-top: 40px;"  class="navbar-form" role="search" name="search_form" method="post">
				<div class="form-group input-group">
				  <input type="text" class="form-control" name="search_header" placeholder="搜索...">
				  <span class="input-group-btn">
					<button class="btn btn-default" type="button" id="search_btn">搜索</button>
				  </span>
				</div>
		      </form>
		      <% for(tagitem in taglist){ %>
					<a class="a-tagitem" href="${BASE_PATH }front/tags/${tagitem.tagname}">${tagitem.tagname}</a>
				<%  } %>
			</div>
	    	<div class="col-md-4">
	    	<div class="nrk" style="background:none; ">
				<h3 style=" margin-top:10px;"><div class="tup" ></div><a href="#" style="color:#4f585f">最新公告</a></h3>
				<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=10>
				<div class="MnewsList" dragover="true" style="float:left; width:250px; height:auto; margin-top:5px;  margin-bottom:5px">
				<div class="scrollList_100" style="position:relative; float:left;width:250px; height:110px; overflow-x: hidden; overflow-y: hidden;">
				<div class="photolist" id="photolist_69" style="height: 10000px; overflow: visible; top: -538px;">
				<% if(noticeList != null && noticeList.~size > 0) { %>
				<ul style="float:left; ">
					<% for(item in noticeList){ %>
					<li class="MnewsList">
						<a href="#" target="_blank">${item.content}</a>
					</li>
					<% } %>
				</ul>
				<% } %>
				</div></div>
					<script language="javascript" type="text/javascript">
					var scroll_69= new ifeng_Scroll("photolist_69");
					scroll_69.Speed=30; //滚动速度微调
					scroll_69.IsSmoothScroll= false;//是否平滑连续滚动 平滑滚动:true 间隔滚动:false
					scroll_69.PauseTime = 2000;//间隔滚动时每次滚动间隔的时间。单位：毫秒。建议值：100--3000 适用于间隔滚动。
					scroll_69.Direction = "N"; //滚动方向.向东：E，向北：N
					scroll_69.Step =1;		//滚动步长，可以理解为滚动速度。值越大速度越快。值范围:1--10
					scroll_69.ControllerType = "none";//上一个和下一个按钮事件的触发方式:click为点击触发滚动 否则就是 鼠标按住按钮触发滚动。支持click 和mousedown两种模式
					scroll_69.BackCall = null;//回调函数 滚动到末尾时执行 
					scroll_69.Init();
					scroll_69.Start();				//开始滚动
					</script></div>
				</div>
		    </div>
		</div>
	</div>
</div>
  <div class="container">
    <div class="header" id="bs-example-navbar-collapse-1">
      <ul class="nav">
      <li style="display:inline;padding:0;width:20%"><a href="${BASE_PATH }home.html">首页</a></li>
      	<% if (!isEmpty(folders)){
			for(item in folders["0"]){
				var childs = folders[item.id+''];
				if(isEmpty(childs)) {
		%>
				<% if(item.type==1){ %>
				<li style="display:inline;padding:0;;width:20%" class="${flyfox.isNew(item.update_time,7)?'q-newicon':''} ${item.id==folders_selected!''?'active':''} "><a href="${BASE_PATH }${flyfox.getMenu(item.id)}.html">${item.name}</a></li>
				<% } else if(item.type==2){ %>
				<li style="display:inline;padding:0;;width:20%" class="${flyfox.isNew(item.update_time,7)?'q-newicon':''}  ${item.id==folders_selected!''?'active':''} "><a href="${strutil.startWith(item.jump_url,'http')?'':BASE_PATH}${item.jump_url}">${item.name}</a></li>
				<% } else if(item.type==3){ %>
				<li style="display:inline;padding:0;;width:20%" class="${flyfox.isNew(item.update_time,7)?'q-newicon':''}  ${item.id==folders_selected!''?'active':''} "><a href="${strutil.startWith(item.jump_url,'http')?'':BASE_PATH}${item.jump_url}" target="_blank">${item.name}</a></li>
				<% } else if(item.type==4){ %>
				${item.jump_url}
				<% } %>
		<% 		
				}
			}
		} 
		%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
<script type="text/javascript">
	$(function(){
		var _this1=null;
		$('.dropdown').hover(function(){
			_this1=$(this);
			_this1.find('.dropdownMenu').show();
		},function(){
			_this1.find('.dropdownMenu').hide();
		});
	});
</script>
<div class="container">
	<!-- 固定导航 -->
	<div class="row" style="height:60px;">
	  <div class="col-md-12">
			&nbsp;
	  </div>
	</div>
</div>



	